@charset "utf-8";
/* CSS Document */

* {
margin: 0;
border: 0;
padding: 0;
}
body {
background-color:white;}
#contenedor {
width: 85%;
margin: 30px auto;}
header h1 {
padding: 15px;
text-align: center;
color:#009;}
#usuario{
width: 10%;
background-color:#FFC;	
}
#usuario img {
width: 50%;
padding: 10px;
float: left;
margin-left: 10%;
margin-top: 10px;
}
#primera{
width: 80%;
padding: 10px;
background-color:#FFC;	
}
#segunda{
width: 10%;
padding: 30px;
background-color:#FFC;	
}
#segunda img{
width: 23%;
	height: 30px;
	float: left;
	margin-left: 2%;
	margin-right: 2%; 
	margin-top: 1px;	
}
#divbaner,#baner{
	width:100%;
	height:220px; 
}
nav{background-color:#8F8F8F;
    width: 100%;
display: flex:}
nav a{padding:17px;
	text-decoration:none;
	color:black;
	display:inline-block;
	margin:0px 0px 0px 76px;}

main {display: flex;}
#platos h2{
	padding: 20px;	
}
#imagenesTur{
	width:100%:;
}
.dest{
	width: 29%; 
	height: auto; 
	float: left;
	margin: 2%; 	
}
.dest img{
	width: 96%; 
	height: 250px; 
	float: left;
	margin-left: 2%; 
	margin-right: 2%; 
	margin-top: 5px;
}
.dest a{
	text-align: center;
	text-decoration: none;	
}
footer {
padding: 20px;
text-align: center;
background-color:#E85C3E;
}
footer p {
margin-bottom: 10px;
color: white;}
